{% extends 'base.html.twig' %}
{% block title'Agence lorem ipsum'%}
{% block body %}
    <!-- générer la classe jumbotron: .jumbotron.tet.center puis Tab -->
 <div class="jumbotron text-center">
     <h1>Agence Fimm</h1>
     <!-- générer un paragraphe : lorem puis tab -->
     <p>
         Agence immobilière à votre service depuis 1994. Parfaite connaissance des secteurs du Parc du Pilat, Vallée du Rhône et Nord Ardèche.
     </p>
 </div>

 <div class="container">
     <h1>Notre sélection de biens</h1>
    <div class="row flex">
        {% for properti in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <H5 class="card-title">
                            <a href="{{ path('property.show',{id: properti.id, slug: properti.slug}) }}">{{ properti.title }}</a>
                        </H5>
                        <p class="card-text">{{ properti.city }} ({{ properti.postalcode }})</p>
                        <div class="text-primary" style = "font-weight: bold;font-size: 2rem">{{ properti.getFormattedPrice() }} € </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
 </div>

{% endblock %}