{% extends 'base.html.twig' %}

{% block title properti.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- La colonne de gauche ci-dessous contiendra le immages-->
                <div class="col-md-8">

                </div>
                <!-- La colonne de droite ci-dessous contiendra les informations sur le bien-->
                <div class="col-md-4">
                    <h1>{{ properti.title }}</h1>
                    <h2>{{ properti.rooms }} pièces - {{ properti.surface }} m²</h2>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ properti.getFormattedPrice }} €</div>
                    <a href="#" class="btn btn-primary" >Contacter l'agence</a>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-4">

    <!--block pour avoir des informations sur le bien -->
    <p>
         <!-- filtre nl2br ajoute autommatiquement des sauts de ligne s'il y a des sauts de ligne dans le description -->
        <h4>{{ properti.description | nl2br }}</h4>
    </p>
    <div class="row">
        <!--colonne de gauche affiche les informations techniques sur le bien -->
        <div class="col-md-8">
            <h2>Caractéristiques</h2>
           <table class="table table-striped">
               <tr>
                   <td>Surface habitable</td>
                   <td>{{ properti.surface}} m²</td>
               </tr>
               <tr>
                   <td>Pièces</td>
                   <td>{{ properti.rooms}} </td>
               </tr>
               <tr>
                   <td>Chambres</td>
                   <td>{{ properti.bedrooms}} </td>
               </tr>
               <tr>
                   <td>Etage</td>
                   <td>{{ properti.floor}}</td>
               </tr>
               <tr>
                   <td>Chauffage</td>
                   <td>{{ properti.heatType}} </td>
               </tr>
           </table>
        </div>
        <!--colonne de droite affiche les options sur le bien -->
        <div class="cold-md-4">
            <h2>Spécificités</h2>

        </div>
    </div>
</div>
</div>
{% endblock %}



